@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-iron-900 text-white selection:bg-blood-600 selection:text-white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for that elite feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-iron-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-iron-700 rounded-full hover:bg-blood-600;
}
